<nav style="padding-bottom: 2px;">
    <div class="title">
        <a href="/home"><h1>Automotive Intelligence</h1></a>
        <p>An IoT based smart automotive workshop</p>
    </div>
    <div class="navbar">
        <div><a href="/home" <% if(active == "home") { %> class="active" <% } %>>Home</a></div>
        <div><a href="/booking" <% if(active == "booking") { %> class="active" <% } %>>Book Service</a></div>
        <div><a href="/view" <% if(active == "view") { %> class="active" <% } %>>View Service</a></div>
    </div>
</nav>