<nav>
    <div class="title">
        <a href="/"><h1>Automotive Intelligence</h1></a>
        <p>An IoT based smart automotive workshop</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tools">Tools</a></li>
        <li><a href="/parts">Parts</a></li>
    </ul>
</nav>