<nav>
    <div class="title">
        <a href="/"><h1>Automotive Intelligence</h1></a>
        <p>An IoT based smart automotive workshop</p>
    </div>
    <div class="navbar">
        <div><a href="/">Home</a></div>
        <div class="dropdown"><a href="/tools">Tools</a>
            <div class="dropdown-content">
                <a href="/tools/add">Add New</a>
            </div>
        </div>
        <div><a href="/parts">Parts</a></div>
    </div>
</nav>