<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body style="margin: 0;">
        <div class="content_404">
            <div class="_404">
                <h1>404</h1></a>
                <p>Page Not Found</p>
            </div>
        </div>
    </body>
</html>