<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs", { username: email, active: "services" }) %>
        <div class="add content">
            <form action="/services/add" method="post">
                <div class="row1">
                    <div class="label">
                        <label for="job_num">Job no:</label>
                        <input type="text" id="job_num" name="job_num" placeholder="Enter Job Number" required>
                    </div>
                    <div class="label">
                        <label for="job_date">Job Date:</label>
                        <input type="date" id="job_date" name="job_date" placeholder="Enter Client" required>
                    </div>
                    <div class = "label">
                        <label for="regoNum">Rego Number:</label>
                        <input type="text" id="regoNum" name="regoNum" placeholder="Enter Rego Number" required>
                    </div>
                </div>
                <div class="row1">
                    <div class="label">
                        <label for="timein">Time in:</label>
                        <input type="time" id="timein" name="timein" placeholder="Enter Time-in" required>
                    </div>
                    <div class="label">
                        <label for="carmake">Car Make:</label>
                        <input type="text" id="carmake" name="carmake" placeholder="Enter Car Make" required>
                    </div>
                    <div class = "label">
                        <label for="carmodel">Car Model:</label>
                        <input type="text" id="carmodel" name="carmodel" placeholder="Enter Car Model" required>
                    </div>
                </div>
                <div class="row2">
                    <div class="label">
                        <label for="clientname">Client Name:</label>
                        <input type="text" id="clientname" name="clientname" placeholder="Enter Client" required>
                    </div>
                    <div class="label">
                        <label for="contactnumber">Contact Number:</label>
                        <input type="text" id="contactnumber" name="contactnumber" placeholder="Enter Contact" required>
                    </div>
                    <div class = "label">
                        <label for="engine"> Engine No:</label>
                        <input type="text" id="engine" name="engine" placeholder="Enter Engine Number" required>
                    </div>
                    <div class = "label">
                        <label for="vin"> VIN No:</label>
                        <input type="text" id="vin" name="vin" placeholder="Enter VIN Number" required>
                    </div>
                </div>
                <fieldset>
                    <legend><b>Tyre Condition</b></legend>
                    <table class="tyre">
                        <tr>
                            <th><h4>Tyre</h4></th>
                            <td><label class="label service"><input type="radio" name="review" id="new" value="New"><p>New</p></label></td>
                            <td><label class="label service"><input type="radio" name="review" id="excellent" value="Excellent"><p>Excellent</p></label></td>
                            <td><label class="label service"><input type="radio" name="review" id="good" value="Good"><p>Good</p></label></td>
                            <td><label class="label service"><input type="radio" name="review" id="fair" value="Fair"><p>Fair</p></label></td>
                            <td><label class="label service"><input type="radio" name="review" id="poor"value="Poor"><p>Poor</p></label></td>
                        </tr>
                        <tr class="tdepth">
                            <th><h4>Tyre Depth</h4></th>
                            <td><label class="label service"><p>FLS</p><input type="text" name="fls" class="depth" id="fls"><p>mm</p></label></td>
                            <td><label class="label service"><p>FRS</p><input type="text" name="frs" class="depth" id="frs"><p>mm</p></label></td>
                            <td><label class="label service"><p>BLS</p><input type="text" name="bls" class="depth" id="bls"><p>mm</p></label></td>
                            <td><label class="label service"><p>BRS</p><input type="text" name="brs" class="depth" id="brs"><p>mm</p></label></td>
                        </tr>
                    </table>
                </fieldset>
                <div class = "row1">
                    <div >
                        <label for="tech">Technician Name:</label>
                        <input type="text" id="tech" name="tech" placeholder="Enter Technician" required>
                    </div>
                    <div>
                        <label for="techid">Technician ID:</label>
                        <input type="text" id="techid" name="techid" placeholder="Enter Technician ID" required>
                        
                    </div>
                    <div>
                        <label for="odo">Odometer Reading:</label>
                        <input type="text" id="odo" name="odo" placeholder="Enter Odometer Reading" required>
                    </div>
                </div>
                <div class="btn service"><button>Add Service</button>
                <button id="checkButton" type="button">Check Registration</button>
            </div>
            </form>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
    <script>
        checkButton.addEventListener("click", async () => {
            if (regoNum.value) {
                let xhttp = new XMLHttpRequest();

                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        let regoInfo =  (new Function("return " + this.responseText))();
                        carmake.value = regoInfo.carmake;
                        carmodel.value = regoInfo.carmodel;
                        engine.value = regoInfo.engine;
                        vin.value = regoInfo.vin;
                    }
                };
                xhttp.open("GET", "/services/vehicle/"+ regoNum.value, true);
                xhttp.send();
            }
        });
    </script>
</html>