<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs", { active: "service" }) %>
        <div class="add content">
            <form action="/services/add" method="post">
                <label for="client">Client Name:</label>
                <input type="text" id="client" name="client" placeholder="Enter Client" required>
                <label for="regoNum">Rego Number:</label>
                <input type="text" id="regoNum" name="regoNum" placeholder="Enter Rego Number" required>
                <label for="make">Vehicle Make:</label>
                <input type="text" id="make" name="make" placeholder="Enter Vehicle Make" required>
                <label for="model">Vehicle Model:</label>
                <input type="text" id="model" name="model" placeholder="Enter Vehicle Model" required>
                <label for="year">Manufactured Year:</label>
                <input type="text" id="year" name="year" placeholder="Enter Manufactured Year" required>
                <label for="odo">Odometer Reading:</label>
                <input type="text" id="odo" name="odo" placeholder="Enter Odometer Reading" required>
                <button>Add Service</button>
            </form>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>