<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/clientHead.ejs") %>
    <body>
        <%- include("./partials/clientNav.ejs", { active: "booking" }) %>
        <div class="add content">
            <form action="/booking" method="post" class="appoint">
                <label for="name">Name:</label>
                <input type="text" id="cname" name="cname" placeholder="Enter Your Name" required>
                <label for="contact">Contact Number:</label>
                <input type="text" id="cnum" name="cnum" placeholder="Enter Contact Number" required>
                <label for="desc">Date of appointment:</label>
                <input type ="date" id="date" name="date" required>
                <label for="rego">Rego Number:</label>
                <input type="text" id="rego" name="rego" placeholder="Enter Rego Number" required>
                <label for="odo">Odometer Reading:</label>
                <input type="number" id="odo" name="odo" placeholder="Enter Odometer Reading" required>
                <label for="name" id="loc">Issues Faced:</label>
                <textarea id="descp" name="descp" placeholder="Enter Any Identified Problems" ></textarea>
                <div><button>Book Appointment</button></div>
            </form>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>