<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
  
    <body>
        <nav>
            <div class="title">
                <a href="/"><h1>Automotive Intelligence</h1></a>
                <div class="profile">
                    <p class="username"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<%= username %></p>
                    <button class="logout" onclick="logoutUser();">Logout</button>
                </div>
                <p>An IoT based smart automotive workshop</p>
            </div>
            <div class="navbar">
                <div><a href="/client" class="active" } >Home</a>
                     
                </div>
            <div><a href="client/form" class="" } >Book Service</a>
                     
                 </div>
                 <div><a href="/" class="" } >View Service</a>
                     
                 </div>
           </div>
        </nav>
        <div style="display: flex;justify-content: center;width: 100%;margin-bottom: 50px;"><a href="client/form" style ="background-color: crimson; padding: 10px;">Make Appointment</a></div>
        <iframe src="html/clients.html" style="width: 100%; height: 800px;" title="Iframe Example"></iframe>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>
        