<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Automotive Intelligence</title>
    </head>
    <body>
        <h1>An IoT based smart automotive workshop</h1>
    </body>
</html>