<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/material-icon.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    
    <!-- js --->
    <script type="text/javascript" src="/js/auth.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/validate.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    
    <!-- google apis -->
    <script src="https://apis.google.com/js/platform.js?onload=loadAuthClient" async defer></script>
</head>
<body style="background-color: #D9D9D9;">
    <div class="main">

        <!-- sing in form -->
        <section class="sign">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/images/login.jpg" alt="sing in image"></figure>
                        <a href="/users/signup" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign in</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <div class="email-wrapper">
                                    <input type="text" name="email" id="email" placeholder="Email"/>
                                </div>
                                <small class="help-block"></small>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <div class="password-wrapper">
                                    <input type="password" name="password" id="password" placeholder="Password"/>
                                </div>
                                <small class="help-block"></small>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <button type="submit" name="signin" id="signin" class="form-submit" >
                                    Log in
                                </button>
                            </div>
                            <div class="form-group">
                                <a href="#" class="forgot-password">Forgotten password?</a>
                            </div>
                        </form>
                        <div class="alert alert-danger alert-dismissible <%= redirect %>" style="display: none;">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <span class="message">
                                <strong>Failed!</strong> The email or password you entered is incorrect. Please check and try gain.
                            </span>
                        </div>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><button id='facebook' onclick="socialLogin(this.id);"> <i class="display-flex-center zmdi zmdi-facebook"></i></button></li>
                                <li><button id='google' onclick="socialLogin(this.id);"><i class="display-flex-center zmdi zmdi-google"></i></button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>