<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs", { active: "parts" }) %>
        <div>
            
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>