<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/material-icon.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <!-- js --->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/validate.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #d9d9d9;">
    <div class="main">

        <!-- sign up form -->
        <section class="sign">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <div class="name-wrapper">
                                    <input type="text" name="name" id="name" placeholder="Name"/>
                                </div>
                                <small class="help-block"></small>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <div class="email-wrapper">
                                    <input type="email" name="email" id="email" placeholder="Email"/>
                                </div>
                                <small class="help-block"></small>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <div class="password-wrapper">
                                    <input type="password" name="password" id="password" placeholder="Password"/>
                                </div>
                                <small class="help-block"></small>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <div class="re-password-wrapper">
                                    <input type="password" name="re_pass" id="re_pass" placeholder="Confirm password"/>
                                </div>
                                <small class="help-block"></small>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree to all <a href="#" class="term-service">terms and conditions</a></label>
                            </div>
                            <div class="form-group form-button">
                                <button type="submit" name="signup" id="signup" class="form-submit" >
                                    Register
                                </button>
                            </div>
                        </form>
                        <div class="alert alert-danger alert-dismissible <%= exist %>" style="display: none;">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <span class="message">
                                <strong>Failed!</strong> Email already exist.
                            </span>
                        </div>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/images/signup.jpg" alt="sing up image"></figure>
                        <a href="/users/login" class="signup-image-link">Already a member?</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>